{% extends "base.html" %}

{% block conteudo %}
    <div class="card">
        <h3>{{livro['titulo']}}</h3>
        <p>{{livro['autor']}}</p>
        <p>{{livro['ano']}}</p>
        <p>{{livro['genero']}}</p>
    </div>

    <div class="resenhas">
        {% for resenha in resenhas %}
            <strong>Nota: {{resenha['nota']}}</strong>
            <p>Descrição: {{resenha['texto']}}</p>
        {% endfor %}
    </div>
    <form action="{{url_for('reviews.criar_resenha', livro_id=livro.id)}}" method="post">
        <label>Resenha: <input type="text" name="texto"></label>
        <label>Nota: <input type="number" name="nota"></label>
        <input type="submit">
    </form>

{% endblock %}  